@font-face {
    font-family: "inter";
    src: url("./fonts/inter.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: inter;
    user-select: none;
}

.click:hover {
    cursor: pointer;
}

.transition {
    transition: 0.3s;
}

input,
select {
    height: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    text-indent: 10px;
    color: #000;
}
