#Settings {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Settings #content {
    position: absolute;
    width: 975px;
    top: 100px;
    bottom: 75px;
    padding-left: 25px;
    overflow-y: scroll;
}

#Settings #content .module {
    margin-bottom: 30px;
}

#Settings #content .module h1 {
    font-size: 20px;
    color: #999;
    margin-bottom: 20px;
    color: #829bff;
    font-weight: 300;
    text-transform: uppercase;
}

#Settings #content .module .item {
    margin-top: 7px;
}

#Settings #content .module .item > * {
    display: block;
}

#Settings #content .module .item sub {
    color: #999;
}

#Settings #content .module .item input,
#Settings #content .module .item select {
    width: 214px;
    margin: 2px 0;
}

#Settings #apply {
    height: 35px;
    width: 100px;
    background-color: #3951af;
    border-radius: 35px;
    border: 0;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
