#Receiver {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Receiver #switch .body {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

#Receiver #switch .body span {
    margin-right: 7px;
    color: #555;
    line-height: 19px;
}

#Receiver #switch p {
    text-align: right;
    position: absolute;
    top: 42px;
    right: 20px;
    color: #999;
    width: 20rem;
    font-size: 10px;
}

#Receiver .devices {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 70px;
}

#Receiver .devices .working {
    text-align: center;
}

#Receiver .devices .working img {
    width: 300px;
}

#Receiver .devices .working p {
    margin-top: 50px;
    color: #999;
}

#Receiver .devices .working button {
    width: 150px;
    height: 35px;
    margin-top: 50px;
    border-radius: 35px;
    border: 0;
    background-color: #f00222;
    color: #fff;
}

#Receiver #Switch {
    background-color: #ddd;
    height: 19px;
    width: 36px;
    border-radius: 19px;
    position: relative;
    box-shadow: inset 0 1px 1px #999;
}

#Receiver #Switch .round {
    border-radius: 19px;
    height: 19px;
    width: 19px;
    background-color: #555;
    position: absolute;
    top: 0;
    left: 0;
}

#Receiver #Switch #selected {
    background-color: #3951af;
    right: 0;
    left: auto;
}
