#Switch {
    background-color: #ddd;
    height: 19px;
    width: 36px;
    border-radius: 19px;
    position: relative;
    box-shadow: inset 0 1px 1px #999;
}

#Switch .round {
    border-radius: 19px;
    height: 19px;
    width: 19px;
    background-color: #555;
    position: absolute;
    top: 0;
    left: 0;
}

#Switch #selected {
    background-color: #3951af;
    right: 0;
    left: auto;
}
